.bundle/
pkg/

/log/*
/tmp/*
Guardfile
/spec/tmp/*
/cache
.env
Gemfile.lock
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*
spec/dummy/tmp/*
spec/dummy/.sass-cache
spec/dummy/Guardfile
spec/dummy/.env
spec/dummy/Gemfile.lock
spec/dummy/public/uploads/*

